{% extends "base.admin.html.twig" %}

{% block title %}
	Liste des notes de {{ matiere.nom }}
{% endblock %}

{% block titre %}
	Liste des notes de {{ matiere.nom }}
{% endblock %}
{% block boutons %}
	{# <a href="{{ path("admin_matiere_creer") }}" title="Cliquez pour Creer une matiere scolaire" class="btn btn-inverse btn-actions btn-outline-inverse float-right"><i class="ti-plus"></i></a> #}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Nom Prenom</th>
							<th>Note</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for note in notes %}
							<tr>
								<td>{{note.eleve.nom}} {{note.eleve.prenom}}</td>
								<td>{{note.note}}</td>
								{# <td>{{matiere.matiere}}</td> #}
								<td>
									<a href="{{ path("admin_note_liste_note", {"id": note.id}) }}" title="Cliquez pour voir les notes de cette matiere" class="btn btn-warning btn-outline-warning">
										<i class="ti-menu-alt"></i>
									</a>

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
