{% extends "base.admin.html.twig" %}

{% block title %}
	Gestion des Eleves
{% endblock %}

{% block titre %}
	Gestion des Eleves
{% endblock %}
{% block boutons %}
	{# <a href="{{ path("admin_trimestre_creer") }}" class="btn btn-inverse btn-outline-inverse btn-actions float-right">Ajouter un trimestre</a> #}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Classe</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for  classe in classes %}
							<tr>
								<td>{{classe.nom}}</td>
								<td>
									{# <a
										href="{{ path("admin_eleve_editer", {"id": trimestre.id}) }}" class="btn btn-inverse btn-actions btn-outline-inverse">
										Editer
									</a> #}

									<a
										href="{{ path("admin_eleve_annee_classe_detail", {"id": classe.id}) }}" class="btn btn-primary btn-outline-primary">
										Voir les Eleves
									</a>

									{# <a
										href="{{ path("admin_trimestre_editer", {"id": trimestre.id}) }}" class="btn btn-inverse btn-actions btn-outline-inverse">
										Trimestre
									</a> #}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
