<nav class="pcoded-navbar">
	<div class="sidebar_toggle">
		<a href="#">
			<i class="icon-close icons"></i>
		</a>
	</div>
	<div class="pcoded-inner-navbar main-menu">
		<div class="">
			<div class="main-menu-header">
				<img class="img-40 img-radius" src="{{ asset("assets/images/avatar-4.jpg") }}" alt="User-Profile-Image">
				<div class="user-details">
					<span>John Doe</span>
					<a href="{{ path("app_logout") }}">
						<span id="more-details">Deconnexion
						</span>
					</a>
				</div>
			</div>

		</div>

		<ul class="pcoded-item pcoded-left-item">
			<li class="active">
				<hr>
				<a href="index.html">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Tableau de board</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_annee_liste") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Annee Scolaire</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_surveillant_liste") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Surveillants</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_professeur_liste") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Professeurs</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_parent_liste") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Parents</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_classe_annee") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Classe</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_trimestre_annee") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Trimestre</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_eleve_liste") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Eleve</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_matiere_annee") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Matiere</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
			<li class="">
				<a href="{{ path("admin_abscence_liste") }}">
					<span class="pcoded-micon">
						<i class="ti-home"></i>
						<b>D</b>
					</span>
					<span class="pcoded-mtext" data-i18n="nav.dash.main">Abscence</span>
					<span class="pcoded-mcaret"></span>
					<hr>
				</a>
			</li>
		</ul>
	</div>
</nav>
